<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.okcollect.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <application
        android:allowBackup="true"
        android:launchMode="singleInstance"
        android:supportsRtl="true">

        <activity
            android:name="io.okcollect.android.activity.OkHeartActivity"
            android:exported="true"
            android:theme="@style/AppTheme" />

        <provider
            android:name="io.okcollect.android.OkCollect"
            android:authorities="${applicationId}.OkHeart"
            android:enabled="true"
            android:exported="true" />


    </application>

</manifest>